.case-section {
    display: grid;
    grid-template-rows: 45px 35px 1fr 35px;
    grid-template-columns: 200px 35px 1fr;
    align-items: start;

    position: relative;
}

.case-sidebar {
    grid-row-start: 2;
    grid-row-end: span 3;
    align-self: stretch;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 40px;
    grid-auto-rows: 40px;

    background-color: #FEE5AC;
}

.case-sidebar > header {
    position: relative;
}

.case-sidebar-patient {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: calc(100% + 15px);
    padding: 10px;

    display: flex;
    flex-direction: column;
}

/* Colours */
.case-sidebar-patient.incoming {
    border-top: 1px solid rgb(247,141,124);
    border-bottom: 1px solid rgb(247,141,124);
    border-right: 1px solid rgb(247,141,124);

    background-color: rgb(249,179,167);
}

.case-sidebar-patient.active {
    border-top: 1px solid rgb(255,179,122);
    border-bottom: 1px solid rgb(255,179,122);
    border-right: 1px solid rgb(255,179,122);

    background-color: rgb(255,204,166);
}

.case-sidebar-patient.completed {
    border-top: 1px solid rgb(202,242,151);
    border-bottom: 1px solid rgb(202,242,151);
    border-right: 1px solid rgb(202,242,151);

    background-color: rgb(220,247,186);
}
/*        */

.case-patient-field {
    width: 100%;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.case-patient-field.name {
    font-weight: bold;
}

.case-patient-field.age {
    font-weight: bold;
}

.case-patient-field.status {
     margin-top: 5px;
     text-decoration: underline;
}

.case-sidebar > button {
    border-bottom: 1px solid #ffb347;

    padding-right: 10px;

    width: 100%;

    display: flex;
    justify-content: flex-end;

    font-size: 0.95em;

    cursor:pointer;
    transition: width 0.4s ease, background 0.4s ease;
}

.case-sidebar > button:first-of-type {
    border-top: 1px solid #ffb347;
}

.case-sidebar > button:hover {
    background: #ffcc33;
    width: calc(100% + 15px);

    transition: width 0.4s ease, background 0.4s ease;
}

/********
 * INPUT *
 ********/
 .case-label {
     border: 1px solid gray;

     width: 100%;
     height: 40px;

     padding-left: 10px;
     padding-right: 10px;

     font-size: 1.1em;

     display: flex;
     align-items: center;
 }

 .case-submit {
     margin-top: 20px;

     border: 2px solid black;

     width: 100%;
     min-height: 40px;

     background: white;
     cursor: pointer;

     transition: background 0.5s ease;
 }

.case-input {
    border: 1px solid darkgray;
    border-radius: 5px;

    //height: 40px;
    box-sizing: border-box;

    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    background: #F5F5F5;

    font-size: 1.0em;
}

.case-input:not([type]):focus, .case-input[type="text"]:focus {
   background: white;
   border: 1px solid #ffb347;
}

.case-input:not([type="checkbox"]) {
    min-width: 300px;
}


.case-input.area {
   min-height: 100px;
   min-width: 300px;

   padding-top: 5px;
   padding-bottom: 5px;
}

.case-input.empty {
   color: gray;
}

.case-input[type="checkbox"] {
    display: block;

    min-height: 40px;
    min-width: 40px;
    flex: 0;

    background-size: contain;

    cursor: pointer;
}

.case-input[type="checkbox"]:checked {
    //background-color: white;
    background: url("../icons/button/checked.png") center no-repeat;
    border: 1px solid #ffb347;
}


/********
 * MAIN *
 ********/

.case-main {
    grid-row-start: 3;
    grid-column-start: 3;

    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.case-row {
    display: contents;
    grid-column-start: span 2;
}

.case-row-group {
    display: contents;
}

/********
 * ED *
 ********/

.ed-section {
    position: absolute;
    align-self: start;
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 420px;
    grid-auto-rows: minmax(20px, auto);
    grid-row-gap: 10px;
}

.ed-loc {
    justify-self: center;

    font-size: 1.4em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ed-loc > span {
    margin-left: 10px;

    font-weight: bold;
    font-size: 1.6em;
}

.ed-loc-input {
    width: 300px;
    height: 40px;
    justify-self: center;
}

.ed-spacer {

}

.ed-row {
    display: flex;
}

.ed-row > input {
    margin-left: 10px;
}

/********
 * Details *
 ********/

.details-section {
    position: absolute;
    align-self: start;
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 250px 300px;
    grid-auto-rows: 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/********
 * Details *
 ********/

.history-section {
    position: absolute;
    align-self: start;
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 270px 300px;
    grid-auto-rows: minmax(40px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.history-subtable {
    grid-column-start: span 2;

    display: grid;
    grid-template-columns: 270px 300px;
    grid-column-gap: 10px;
}

.history-sublabel {
    border-top: 0;
    width: 220px;

    justify-self: end;
}

.history-subinput {
    height: 30px;
    align-self: center;
}

/********
 * Assess *
 ********/

 .assess-section {
     position: absolute;
     align-self: start;
     height: auto;
     width: 100%;

     display: grid;
     grid-template-columns: 300px 300px;
     grid-auto-rows: minmax(20px, auto);
     grid-column-gap: 10px;
     grid-row-gap: 10px;
 }

.assess-section > section {
    display: contents;
}

.assess-spacer {
    grid-column-start: span 2;
}

.assess-heading {
    grid-column-start: span 2;

    display: flex;
}

.assess-heading > .case-label {
    border: 2px gray solid;

    flex: 2;

    font-size: 1.2em;
    font-weight: bold;
}

.assess-score {
    margin-left: 20px;

    max-width: 70px;

    display: flex;
    justify-content: center;
}

.assess-vitals {
    display: flex;
}

.assess-vitals > .case-input {
    min-width: 0;
    width: auto;

    display: flex;
    flex: 2;

    text-align: center;
}

.assess-vitals > span {
    width: auto;
    flex: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;

    font-size: 1.5em;
    font-weight: bold;
}

/********
 * Radiology *
 ********/

.radiology-section {
    position: absolute;
    align-self: start;
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 270px 300px;
    grid-auto-rows: minmax(40px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/********
 * MANAGE *
 ********/

.manage-section {
    position: absolute;
    align-self: start;
    height: auto;
    width: 100%;

    display: grid;
    grid-template-columns: 330px 300px;
    grid-auto-rows: minmax(40px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.manage-thrombolysis {
    height: auto;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.manage-thrombolysis-sub {
    font-size: 0.8em;
}

.manage-ci {
    margin-bottom: 20px;

    grid-column-start: span 2;
    justify-self: end;

    display: grid;
    grid-template-columns: 270px 300px;
    grid-column-gap: 10px;
}

.manage-ci .case-label {
    border-top: 0;

    width: 270px;
    justify-self: end;

    font-size: 1.0em;
}

.manage-ci .case-input {
    height: 30px;
    align-self: center;
}

.manage-subheading > .case-label {
    border-top: 1px solid darkgray;

    background-color: #fceabb;
    font-weight: bold;
}

.manage-button {
    grid-column-start: span 2;

    border: 2px solid black;

    width: 100%;
    min-height: 40px;

    background: #fceabb;
    cursor: pointer;

    transition: background 0.5s ease;

    font-weight: bold;
}

.manage-button:hover {
    background: #ffb347;

    transition: background 0.5s ease;
}

.manage-spacer {
    grid-column-start: span 2;
    height: 20px;
}

.manage-complete {
    margin-top: 40px;

    grid-column-start: span 2;

    border: 2px solid black;

    min-height: 40px;

    background-color: #A6D785;
    cursor: pointer;

    transition: background 0.5s ease;

    font-weight: bold;
}

.manage-complete:hover {
    background-color: #699864;

    transition: background 0.5s ease;
}
