/***********
 * OVERLAY *
 ***********/

 .main-overlay {
     position: absolute;
     z-index: 99;

     width: 100%;
     height: 100%;

     background: rgba(0,0,0,0.5);
 }

 .main-timer {
     position: absolute;
     left: 65px;
     top: 65px;
     transform: translate(0, -50%);

     display: flex;
     align-items: center;
 }

 .main-timer > img {
     animation: rotate 1.2s ease-in-out infinite alternate;
 }

 @keyframes rotate {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }

 .main-timer > span {
     margin-left: 10px;

     height: 100%;

     color: white;
     font-weight: bold;
     font-size: 1.2em;
     letter-spacing: 2px;
 }

/**********
 * EVENTS *
 **********/


.main-container {
}

.events-container {
    margin-bottom: 10px;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;

    overflow-y: scroll;
}

.events-holder {
    margin-top: 30px;
    margin-left: 50px;

    min-height: 100%;

    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

}

.events-header {
    margin-bottom: 20px;

    display: flex;
}

.events-header-box {
    border-bottom: 1px solid darkgray;

    font-weight: bold;
    font-size: 1.05em;

    align-items: center;
    justify-content: center;
}

.events-main {
    display: flex;
    flex-direction: column;
}

.events-row {
    height: 40px;

    display: flex;
    flex-shrink: 0;

    cursor: pointer;
}

.events-row.incoming > div {
    background-color: rgb(249,179,167);
}

.events-row.active > div {
    background-color: rgb(255,204,166);
}

.events-row.completed > div {
    background-color: rgb(220,247,186);
}

.events-row-box {
    align-items: center;
    justify-content: flex-start;
}

.events-row-box > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.events-header-box, .events-row-box {
    height: 30px;

    padding: 5px;

    display: flex;
    flex-shrink: 0;
}

.events-header-spacer, .events-row-spacer {
    min-width: 5px;
    width: 25px;
    min-height: 30px;
    padding: 5px;

    display: flex;
}

.events-row-spacer.blank {
    //background: rgba(0,0,0,0) !important;
}

.events-header-box.clinician, .events-row-box.clinician,
.events-header-box.patient, .events-row-box.patient,
.events-header-box.action,.events-row-box.action {
    min-width: 200px;
    max-width: 200px;
}

.events-row-box.patient {
    justify-content: center;
}


.events-header-box.clinician_icon, .events-row-box.clinician_icon,
.events-header-box.action_icon, .events-row-box.action_icon,
.events-header-box.patient_age, .events-row-box.patient_age{
    min-width: 40px;
    max-width: 40px;
}

.events-header-box.time, .events-row-box.time {
    min-width: 140px;
    max-width: 140px;

    justify-content: center;
}

.events-header-box.buttons, .events-row-box.buttons {
    min-width: 100px;
    max-width: 100px;
}

.events-row-box.buttons {
    //background-color: white !important;
}

.events-row-box.buttons > button {
    outline: 1px solid black;

    height: 100%;
    max-width: 50px;
    min-width: 50px;

    background: white;

    cursor: pointer;
}

.events-data {
    min-height: 200px;
    max-height: 200px;

    padding: 10px;

    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    overflow-x: auto;
}

.events-data.incoming {
    background-color: rgba(249,179,167, 0.5);
}

.events-data.active {
    background-color: rgba(255,204,166,0.5);
}

.events-data.completed {
    background-color: rgb(220,247,186,0.5);
}

.events-data-item {
    margin-right: 10px;

    min-height: 30px;
    min-width: 200px;
    //max-width: 200px;

    padding: 5px;

    display: flex;
    align-items: center;
}

.events-data-item > strong {
    margin-right: 10px;

    min-width: 150px;
    max-width: 150px;
    height: auto;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.events-data-item > span {
    max-width: 200px;
}

/**
 * CODE
 */

.events-row.highlight {
    filter: brightness(120%) !important;
}

.events-button-down.highlight {
    background: #FFD700 !important;
    outline: 1px solid red !important;
}

.events-button-go.highlight {
    background: #FFD700 !important;
    outline: 1px solid red !important;
}
