/***********
 * OVERLAY *
 ***********/

 .main-overlay {
     position: absolute;
     z-index: 99;

     width: 100%;
     height: 100%;

     background: rgba(0,0,0,0.5);
 }

 .main-timer {
     position: absolute;
     left: 65px;
     top: 65px;
     transform: translate(0, -50%);

     display: flex;
     align-items: center;
 }

 .main-timer > img {
     animation: rotate 1.2s ease-in-out infinite alternate;
 }

 @keyframes rotate {
     0% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }

 .main-timer > span {
     margin-left: 10px;

     height: 100%;

     color: white;
     font-weight: bold;
     font-size: 1.2em;
     letter-spacing: 2px;
 }

/********
 * Nav *
 ********/
.nav-container {
    margin-top: 15px;
    margin-bottom: 15px;

    width: 100%;
    height: 40px;

    background: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-box {
    margin-left: 25px;

    border-radius: 5px;

    height: 100%;

    padding: 5px 10px 5px 10px;

    display: flex;
    align-items: center;

    background: RGB(255, 170, 102);
}

.nav-box.search {

}

.nav-search {

    border: 2px solid darkgray;
    border-radius: 15px;

    height: 30px;

    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-search-icon {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search-icon.cancel{
     cursor: pointer;
 }

.nav-search-icon img {
    height: 32px;
    width: 32px;
}

.vr {
    margin-left: 2px;

    width: 1px;
    height: 80%;

    background: darkgray;
}

.nav-search-input {
    height: 100%;
    width: 220px;

    padding-left: 10px;

    font-size: 1.1em;

    background: none;
}

.nav-box.label {
    border-radius: 5px 0 0 5px;
}

.nav-box.label > span {
    font-size: 0.9em;
}

.nav-box.label > code {
    margin-left: 10px;


    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
}

.nav-box.button {
    margin-left: 5px;

    border-radius: 0 5px 5px 0;

    display: flex;
    align-items: center;

    font-weight: bold;

    cursor: pointer;
}

.nav-box.refresh_button {
    background: rgb(254,219,141);
}

.nav-box.refresh_button:hover > img {
    animation: rotate 1.2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nav-box.add_button {
    background: rgb(232,255,153);
}

.nav-box.add_button:hover > img {
    animation: grow 0.8s linear infinite;
}

.nav-box.event_button {
    background: #b0e0e6;
}

.nav-box.event_button:hover > img {
    animation: grow 0.8s linear infinite;
}

@keyframes grow {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/********
 * Cases *
 ********/
.cases-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    overflow: auto;
    overflow-y: scroll;
}

.cases-divider {
    width: 25px;
    min-width: 5px;
}

.cases-list {
    margin-top: 10px;
    margin-bottom: 30px;

    //min-width: 300px;
    height: auto;

    display: flex;
    flex-direction: column;
}

/* Colours */

.cases-list.incoming .cases-list-header {
    background-color: rgb(247,141,124);
}

.cases-list.incoming .cases-list-body {
    background-color: rgb(249,179,167);
}


.cases-list.active .cases-list-header {
    background-color: rgb(255,179,122);
}

.cases-list.active .cases-list-body {
    background-color: rgb(255,204,166);
}


.cases-list.completed .cases-list-header {
    background-color: rgb(202,242,151);
}

.cases-list.completed .cases-list-body {
    background-color: rgb(220,247,186);
}

/*        */

.cases-list-header {
    min-height: 35px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
}

.cases-list-body {
    //min-height: 200px;
}

.case-row-container {
    height: 100%;
    width: 100%;

    min-height: 35px;

    display: flex;
    flex-direction: column;
}

.case-row {
    height: 25px;

    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    flex-direction: row;
}

.case-row:hover {
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}

.case-row:nth-of-type(even) {
    background: rgba(220,220,220,0.2);
}

.case-row:nth-of-type(even):hover {
    background: rgba(255,255,255,0.5);
}

.case-row.header {
    border-bottom: 3px solid white;

    font-weight: bold;
}

.case-row.empty {
    justify-content: center;
    align-items: center;
}

.case-row.header:hover {
    background: none;
    cursor: default;
}

.case-row-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-row-field span {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.case-row-field:not(:first-of-type) {
    margin-left: 5px;
}

.case-row-field.name {
    min-width: 166px;
    width: 166px;
    max-width: 170px;

    padding-left: 2px;
    padding-right: 2px;
    //background-color: blue;
}

.case-row-field.age {
    min-width: 60px;
    max-width: 60px;
    //background-color: red;
}

.case-row-field.time {
    min-width: 160px;
    max-width: 160px;
    //background-color: orange;
}
