.login-background {
    position: fixed;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    z-index: 101;

    background: hsla(31, 100%, 0%, 0.8);;

    display: grid;
    grid-template-columns: 1fr minmax(500px,500px) 1fr;
}

.login-content {
    grid-column-start: 2;
    //grid-row-start: 2;

    border-right: 1px solid #f2994a;
    border-left: 1px solid #f2994a;

    background: #f2994a; /* fallback for old browsers */
    background: linear-gradient(to bottom, #f2c94c, #f2c94c 55%, #f2994a 150%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;
    display: grid;
    grid-template-rows: 1fr 250px repeat(7, 60px) 1fr;

    transition: transform 1s ease;
}

.login-content.away {
    transform: translateX(-75vw);

    transition: transform 1s ease;
}



.login-logo {
    position: relative;
}
.login-logo > img{
    position: absolute;
    bottom: 25px;
    left: 50%;

    width: 250px;

    transform: translateX(-50%);
}

.login-input {
    border: 0;
    border-bottom: 3px solid #f2994a;

    width: 400px;
    min-height: 28px;
    justify-self: center;
    align-self: center;

    background: none;

    font-size: 1.2em;
    text-align: center;
    text-align-last: center;

    transition: border 0.4s ease;
}

.login-input::placeholder {
    font-family: monospace;
    color: #8E4600;
}

.login-input:focus {
    border-bottom: 3px solid black;

    transition: border 0.4s ease;
}

.login-input > option {
    background: #f2c94c;
    font-family: monospace;
    font-size: 1.05em;
    color: black;
}

.login-input:invalid {
    font-size: 1.2em;
    color: #8E4600;
    font-family: monospace;
}

.login-button {
    border: 2px solid #8E4600;

    width: 400px;
    align-self: center;
    justify-self: center;

    padding-top: 10px;
    padding-bottom: 10px;

    background: none;
    color: #8E4600;
    font-weight: bold;
    font-size: 1.1em;

    cursor: pointer;

    transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
}

.login-button:hover {
    border: 2px solid black;

    background: rgba(142,70,0, 0.5);

    color: black;

    transition: background 0.4s ease, color 0.4s ease, border 0.4s ease;
}

.login-errors {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    font-size: 1.2em;
    color: red;
}
