<section class="case-section">
    <nav class="global-nav">
        <header>
            Edit Case
        </header>
        <button class="green_strong">
            <img src="icons/general/tick-green.png"/> Submit &nbsp <strong>ED Triage</strong> &nbsp to Database
        </button>
        <button class="red_strong">
            <img src="icons/general/cross-red.png"/> Reset &nbsp <strong>ED Triage</strong>
        </button>
    </nav>
    <aside class="case-sidebar">
        <header>
            <div class="case-sidebar-patient incoming">
                <div id="js-patient-name" class="case-patient-field name">
                    Mr Jones
                </div>
                <div id="js-patient-age_gender" class="case-patient-field age">
                    65M
                </div>
                <div id="js-patient-status" class="case-patient-field status">
                    incoming
                </div>
                <div id="js-patient-time" class="case-patient-field">
                    Since ajkdasdfkl
                </div>
                <div id="js-patient-well" class="case-patient-field">
                    Last Well Unknown
                </div>
            </div>
        </header>
        <button>ED Triage</button>
        <button>Patient Details</button>
        <button>Clinical History</button>
        <button>Clinical Assessment</button>
        <button>Radiology</button>
        <button>Management</button>
        <div style="align-self: stretch">

        </div>
    </aside>
    <main id="js-case-main" class="case-main">

    </main>
</section>
