<div class="global-body">
    <header class="global-header">
        <a href="#/list/" class="global-header-logo">
            <img src="logo-separated.png"/>
        </a>

        <div class="global-header-user">
            <header class="header-user-welcome">
                Welcome Back,
            </header>
             <div id="js-login-name" class="header-user-name">
                 &nbsp
             </div>
        </div>

        <button id="js-push-button" class="global-header-button notif">
            Notifications &nbsp <img src="icons/button/switch-disabled.png" />
        </button>

        <button id="js-login-logout" class="global-header-button btn">
            Logout &nbsp <img src="icons/button/logout.png" />
        </button>
    </header>
    <main id="js-global-main" class="global-main">

    </main>
</div>
