<div id="js-login-background" class="login-background">
    <form id="js-login-form" class="login-content away">
        <div>

        </div>
        <div class="login-logo">
            <img src="logo.png"/>
        </div>
        <input id="js-login-signoff_first_name"  class="login-input" placeholder="First Name...">
        <input id="js-login-signoff_last_name"  class="login-input" placeholder="Last Name...">
        <select id="js-login-signoff_role"  class="login-input">
            <option selected disabled hidden value="">Role...</option>
            <option value="admin">Admin</option>
            <option value="anaesthetist">Anaesthetist</option>
            <option value="angio_nurse">Angiography Nurse</option>
            <option value="ed_clinician">ED Clinician</option>
            <option value="neuroint">Neurointerventionalist</option>
            <option value="paramedic">Paramedic</option>
            <option value="radiographer">Radiographer</option>
            <option value="radiologist">Radiologist</option>
            <option value="stroke_team">Stroke Team</option>
            <option value="stroke_ward">Stroke Ward</option>
        </select>
        <input id="js-login-password" class="login-input" type="password" placeholder="Global Password...">
        <div>

        </div>
        <button class="login-button">Login</button>
    </form>
</div>
