* {
    font-family: "Helvetica";
}

html, body {
    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/******************
 * SIDEBAR        *
 ******************/

/* $sidebar_width = 300px; */
/* Colours: http://www.color-hex.com/color-palette/4246 */
/* Potential?? https://www.colorcombos.com/color-schemes/173/ColorCombo173.html */

.sidebar-container {
    position: fixed;

    height: 100%;
    width: 300px; /* $sidebar_width */

    background-color: rgb(217,217,217);

    display: flex;

    flex-direction: column;
}

.sidebar-logo {
    height: 250px; /* $sidebar_width */
    width: 100%;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    //background-color: red;
}

.sidebar-logo * {
    height: auto;
    width: auto;
    max-width: calc(100% - 50px);;
    max-height: calc(100% - 50px);;
}

.sidebar-user {
    display: flex;
    flex-direction: column;
}

.sidebar-user-welcome, .sidebar-user-name {
}

.sidebar-user-welcome {
    height: 20px;

    padding-left: 5px;

    align-self: flex-start;
    //background-color: green;

    font-size: 1.2em;
}

.sidebar-user-name {
    min-height: 35px;
    width: 100%;

    //background-color: darkgreen;

    display: flex;
    justify-content: center;
    align-content: center;


}

.sidebar-user-name > span {
    font-size: 2em;
    text-align: center;
    //line-height: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-button {
    height: 40px;
    width: 100%;

    background-color: rgb(166,166,166);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.05em;
    font-weight: normal;

    transition: transform 0.5s ;
    cursor: pointer;
}

.sidebar-button:not(.alert):not(.push) {
    flex-shrink: 0;
}

.sidebar-button:hover:not(.selected):not(.special_hover){
    background-color: AliceBlue;

    transition: background-color 0.5s;
}

.sidebar-button.selected {
    background-color: rgb(64,64,64);
    color: #FFF;
}

.sidebar-alert {
    margin-top: 30px;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
}

.sidebar-alert > div {
    background-color: rgb(0,112,192);
    color: #FFF
}

.sidebar-button.alert{

}

.sidebar-button.notif {
    margin-left: 10px;

    width: 75px;
}

.sidebar-button.notif.active {
    background-color: red;
}

.sidebar-push {
    opacity: 0.6;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;

    transition: opacity 0.4s;
}

.sidebar-push:hover {
    opacity: 0.9;
    transition: opacity 0.4s;
}

.sidebar-push > div {
    height: 30px;
}

.sidebar-button.push_status {
    margin-left: 10px;

    width: 75px;
}

.push_status.on {
    background-color: lightgreen;
}

.push_status.off {
    background-color: lightcoral;
}

.sidebar-button.disabled {
    opacity: 0.25;
}



.sidebar-button.main {
    margin-top: 30px;
}

.sidebar-button.account {
    margin-top: 30px;

    background-color: rgb(191,191,191);
}

.sidebar-button.logout {


    background-color: rgb(191,191,191);
}

/********
 * MAIN *
 ********/

 .main-padding:first-of-type {
     margin-left: 300px; /* $sidebar_width */
 }

 .main-padding {
     width: 80px;
     min-width: 10px;
     height: 100%;

     display: flex;
 }


.main-container {

    width: 100%;

    //background-color: lightgray;

    display: flex;
    flex-direction: column;
}

.main-header {
    height: 50px;
}

.main-heading {
    padding-left: 10px;

    font-size: 1.5em;
}

.content-box {
    margin-bottom: 50px;

    flex: 0 0 100%;

    border: 1px solid black;

    padding: 20px;
}
