/********
 * CASES *
 ********/

.cases-container {

}

.cases-container.incoming .cases-header {
    background-color: rgb(247,141,124);
}

.cases-container.incoming .cases-list {
    background-color: rgb(249,179,167);
}


.cases-container.active .cases-header {
    background-color: rgb(255,179,122);
}

.cases-container.active .cases-list {
    background-color: rgb(255,204,166);
}


.cases-container.completed .cases-header {
    background-color: rgb(202,242,151);
}

.cases-container.completed .cases-list {
    background-color: rgb(220,247,186);
}

.cases-header {

    //border-bottom: 1px solid black;

    height: 40px;

    padding-left: 5px;

    display: flex;
    align-items: center;

    font-weight: bold;

    cursor: pointer;
}

.cases-header > div {
    margin-right: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cases-header-num {
    height: 30px;
    width: 30px;

    border-radius: 10px;
}

.incoming .cases-header-num {
    background-color: red;
}

.active .cases-header-num {
    background-color: orange;
}

.completed .cases-header-num {
    background-color: green;
}

.cases-header-num.empty {
    background-color: white;
}

.cases-list {
    display: none;


}

.cases-list.open {
    padding: 20px;
    padding-bottom: 0;

    min-height: 50px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.case-box {
    margin-right: 20px;
    margin-bottom: 20px;

    width: 180px;
    height: 200px;

    padding: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255,255,255,0.5);

    outline: 1px solid black;
}

.case-box:hover {
    background-color: rgba(255,255,255,1);

    transition: background-color 0.3s ease;
}

.case-box > hr {
    margin-top: 4px;
    margin-bottom: 4px;

    width: 100%;

    border: none;
    //background-color: darkgray;
    height: 1px;


}

.case-box > div:not(:last-child) {

}

.case-name {
    width: 100%;

    font-weight: bold;
    font-size: 1.1em;
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.case-age_sex {
    width: 100%;

    font-weight: bold;
    text-align: center;

    margin-bottom: 4px;
}

/********
 * FEED *
 ********/

 .content-box.feed {
     padding-top: 10px;
 }

.feed-header {
    width: 100%;
    height: 40px;

    margin-bottom: 20px;

    //background-color: darkred;

    display: flex;
    flex-direction: row;
}

.feed-header > div {
    border-bottom: 1px solid darkgray;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 1.1em;
}

.feed-header-patient, .feed-header-clinicians,
.feed-item-patient, .feed-item-clinicians {
    margin-right: 10px;

    width: 200px;
    height: 100%;
    min-height: 40px;

    //background-color: yellow;
}

.feed-header-clin_icon, .feed-header-act_icon,
.feed-item-clin_icon, .feed-item-act_icon {
    width: 50px;
    height: 100%;
    min-height: 40px;

    //background-color: orange;
}

.feed-header-action,
.feed-item-action {
    margin-right: 10px;

    flex: 1 1;
    min-width: 400px;
    min-height: 40px;

    //background-color: yellow;
}

.feed-header-time,
.feed-item-time {
    width: 100px;
    height: 100%;
    min-height: 40px;

    //background-color: yellow;
}

.feed-header-clinicians {
    width: 200px;
    height: 40px;
}

.feed-item {
    width: 100%;
    min-height: 40px;

    //background-color: red;

    display: flex;
    flex-direction: row;

    min-width: 0;
}

.feed-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed-item.incoming > div {
    background-color: rgb(249,179,167);
}

.feed-item.active > div {
    background-color: rgb(255,204,166);
}

.feed-item.completed > div {
    background-color: rgb(220,247,186);
}

.feed-item-patient {
    display: flex;
    justify-content: center;
    align-items: center;

}

.feed-item > div > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feed-icon {
    max-width: 32px;
    max-height: 32px;
}

#js-push-debug {
    width: 100%;
    min-height: 200px;
}
