.main-container {
    flex-direction: row;
}

/***********
 * SIDEBAR *
 ***********/

 .sidebar-container {
     min-width: 200px;
     width: 200px;
     height: 100%;

     background-color: #fceabb;

     display: flex;
     flex-direction: column;
 }

 .sidebar-patient {
     margin-top: 20px;

     width: 100%;

     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 20px;

     display: flex;
     flex-direction: column;
 }

 /* Colours */
 .sidebar-patient.incoming {
     border-top: 1px solid rgb(247,141,124);
     border-bottom: 1px solid rgb(247,141,124);

     background-color: rgb(249,179,167);
 }

 .sidebar-patient.active {
     border-top: 1px solid rgb(255,179,122);
     border-bottom: 1px solid rgb(255,179,122);

     background-color: rgb(255,204,166);
 }

 .sidebar-patient.completed {
     border-top: 1px solid rgb(202,242,151);
     border-bottom: 1px solid rgb(202,242,151);

     background-color: rgb(220,247,186);
 }
 /*        */

 .sidebar-patient-field {
     width: 100%;
     height: 20px;

     display: flex;
     justify-content: center;
     align-items: center;
 }

 .sidebar-patient-field.name {
     font-weight: bold;
 }

 .sidebar-patient-field.age {
     font-weight: bold;

 }

 .sidebar-patient-field.status {
      margin-top: 5px;
      text-decoration: underline;
 }

.sidebar-button {
    border-bottom: 1px solid #ffb347;

    width: calc(100% - 20px);
    height: 30px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    transition: width 0.5s ease, background 0.5s ease;
}

.sidebar-button:nth-child(2) {
    margin-top: 40px;

    border-top: 1px solid #ffb347;
}

.sidebar-button:hover {
    width: 100%;
    background: #ffcc33;
    cursor: pointer;

    transition: width 0.5s ease, background 0.5s ease;
}

.sidebar-button.selected {
    width: 100%;
    background: #ffb347;

    cursor: default;
}

/********
 * Main *
 ********/

 .case-container {
     margin-left: 50px;
     margin-top: 40px;

     width: 100%;
     height: 100%;

     display: flex;
     flex-direction: column;
     align-items: flex-start;

     background: white;
 }

 /*.js-input.active {
     border: 1px solid #ffb347;
 }*/

 .case-row {
     min-height: 40px;
     width: 100%;

     padding-top: 5px;
     padding-bottom: 5px;

     display: flex;
     flex-direction: row;
     align-items: center;
 }

 /*.case-row-group {
     margin-bottom: 5px;

     width: 100%;

     display: flex;
     flex-direction: column;
     align-items: flex-start;

     background: red;
 }*/

 .case-input {
     border: 1px solid darkgray;
     border-radius: 5px;

     height: 40px;
     width: 100%;
     box-sizing: border-box;

     padding-left: 10px;
     padding-right: 10px;

     box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
     background: #F5F5F5;

     font-size: 1.0em;
 }

 .case-input.text:focus {
     background: white;
     border: 1px solid #ffb347;
 }

 .case-input.empty {
     color: gray;
 }

 .case-input.area {
     min-height: 100px;
     min-width: 300px;

     padding-top: 5px;
     padding-bottom: 5px;
 }

 .case-input.check {
     display: block;

     min-height: 40px;
     max-height: 40px;
     min-width: 40px;
     max-width: 40px;
     flex-shrink: 0;

     background-size: contain;

     cursor: pointer;
 }

 .case-input.check:checked {
     //background-color: white;
     background: url("../icons/button/checked.png") center no-repeat;
     border: 1px solid #ffb347;
 }

 .case-label {
     margin-right: 10px;

     border: 1px solid gray;

     width: 100%;
     min-height: 30px;

     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;

     font-size: 1.1em;

     display: flex;
     align-items: center;
 }

 .case-submit {
     margin-top: 20px;

     border: 2px solid black;

     width: 100%;
     min-height: 40px;

     background: white;
     cursor: pointer;

     transition: background 0.5s ease;
 }

 .case-submit:hover {
     background-color: #FDD5B1;

     transition: background 0.5s ease;
 }

 /********
  * ED *
  ********/

.case-section.ed {
    min-width: 400px;
}

.case-row.ed_loc {
    margin-bottom: 10px;

    justify-content: center;
    align-items: center;

    font-size: 1.4em;
}

.case-row.ed_loc span {
    margin-left: 10px;

    font-weight: bold;
    font-size: 1.6em;
}

.case-row.ed_loc_input {
    margin-bottom: 20px;
}

.case-row.ed_complete .case-label {
    background-color: #dfd;
}

.case-row.ed_complete .case-input.check {
    border-radius: 0;

    box-shadow: none;
    background-color: white;
    background: url("../icons/button/tick.png") center no-repeat;

    pointer-events: none;
    cursor: auto;
}


/***********
 * Details *
 ***********/
.case-section.details {
    min-width: 500px;
}

.case-section.details .case-input {
    min-width: 300px;
}

/********
 * History *
 ********/
.case-section.history {
    width: 550px;
}

.case-section.history .case-label {
    max-width: 200px;
    min-width: 200px;
}

/**/

.case-row.history_textarea > .case-label {
    align-self: flex-start;
}

/**/

.case-row.history_heading {
    padding-bottom: 0;
}

.case-row.history_subheading {
    padding-top: 0;
    padding-bottom: 0;
}

.case-row.history_subheading.last {
    margin-bottom: 10px;
}

.case-row.history_subheading > .case-label {
    margin-left: 50px;

    border-top: none;
    border-bottom: 1px solid gray;

    max-width: 150px;
    min-width: 150px;

    font-size: 1.0em;
}

.case-row.history_subheading > .case-input {
    height: 30px;
    font-size: 0.95em;
}

/********
 * Assessment *
 ********/



.yes {
    background: green !important;
}
