.main-container {
    flex-direction: row;
}

/***********
 * SIDEBAR *
 ***********/

 .sidebar-container {
     min-width: 200px;
     width: 200px;
     height: 100%;

     background-color: #fceabb;

     display: flex;
     flex-direction: column;
 }

 .sidebar-patient {
     margin-top: 20px;

     width: 100%;

     padding-top: 10px;
     padding-bottom: 10px;
     padding-right: 20px;

     display: flex;
     flex-direction: column;
 }

 /* Colours */
 .sidebar-patient.incoming {
     border-top: 1px solid rgb(247,141,124);
     border-bottom: 1px solid rgb(247,141,124);

     background-color: rgb(249,179,167);
 }

 .sidebar-patient.active {
     border-top: 1px solid rgb(255,179,122);
     border-bottom: 1px solid rgb(255,179,122);

     background-color: rgb(255,204,166);
 }

 .sidebar-patient.completed {
     border-top: 1px solid rgb(202,242,151);
     border-bottom: 1px solid rgb(202,242,151);

     background-color: rgb(220,247,186);
 }
 /*        */

 .sidebar-patient-field {
     width: 100%;
     height: 20px;

     display: flex;
     justify-content: center;
     align-items: center;
 }

 .sidebar-patient-field.name {
     font-weight: bold;
 }

 .sidebar-patient-field.age {
     font-weight: bold;

 }

 .sidebar-patient-field.status {
      margin-top: 5px;
      text-decoration: underline;
 }

.sidebar-button {
    border-bottom: 1px solid #ffb347;

    width: calc(100% - 20px);
    height: 30px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    transition: width 0.5s ease, background 0.5s ease;
}

.sidebar-button:nth-child(2) {
    margin-top: 40px;

    border-top: 1px solid #ffb347;
}

.sidebar-button:hover {
    width: 100%;
    background: #ffcc33;
    cursor: pointer;

    transition: width 0.5s ease, background 0.5s ease;
}

.sidebar-button.selected {
    width: 100%;
    background: #ffb347;

    cursor: default;
}

/********
 * Main *
 ********/

 .case-container {
     margin-left: 50px;
     margin-top: 40px;

     width: 100%;
     height: 100%;

     display: flex;
     flex-direction: column;
     align-items: flex-start;

     background: white;
 }

 .js-input.active {

     border: 1px solid #ffb347;

 }

 /********
  * ED *
  ********/

.ed-container {
    //height: 100%;
    min-width: 400px;

    display: flex;
    flex-direction: column;
}

.ed-row {
    display: flex;
    flex-direction: row;
}

.ed-row.loc {
    margin-bottom: 10px;

    justify-content: center;
    align-items: center;

    font-size: 1.4em;
}

.ed-row.loc span {
    margin-left: 10px;

    font-weight: bold;
    font-size: 1.6em;
}

.ed-row.input {
    margin-bottom: 30px;
}

.ed-input {
    border: 1px solid darkgray;
    border-radius: 5px;

    height: 30px;
    width: 100%;

    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    background: #F5F5F5;

    font-size: 1.1em;
}

.ed-input:focus {
    background: white;
    border: 1px solid #ffb347;
}

.ed-row.check {
    flex-direction: row;
}

.ed-row.check.last {
    margin-bottom: 30px;
}

.ed-row.check.complete {
    margin-bottom: 10px;
}

.ed-row.check.complete > .ed-label {
    border-bottom: 1px solid gray;
    background-color: #dfd;
}

.ed-row.check.complete > .ed-check {
    border-radius: 0;

    box-shadow: none;
    background-color: white;
    background: url("../icons/button/tick.png") center no-repeat;

    cursor: auto;
}

.ed-label {
    margin-right: 10px;

    border: 1px solid gray;
    border-bottom: none;

    width: 100%;
    min-height: 35px;

    padding-left: 10px;
    padding-right: 10px;

    font-size: 1.1em;

    display: flex;
    align-items: center;
}


.ed-label.last {
    border-bottom: 1px solid gray;
}

.ed-check {
    display: block;

    min-height: 35px;
    min-width: 35px;
    flex-shrink: 0;

    border: 1px solid darkgray;
    border-radius: 5px;

    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    background: #F5F5F5;
    background-size: contain;

    cursor: pointer;
}

.ed-check:checked {
    //background-color: white;
    background: url("../icons/button/checked1.png") center no-repeat;
    border: 1px solid #ffb347;
}

.ed-submit {
    border: 2px solid black;

    width: 100%;
    min-height: 40px;

    background: white;
    cursor: pointer;

    transition: background 0.5s ease;
}

.ed-submit:hover {
    background-color: #FDD5B1;

    transition: background 0.5s ease;
}

/***********
 * DETAILS *
 ***********/
.details-container {
    min-width: 500px;

    display: flex;
    flex-direction: column;
}

.details-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    min-height: 40px;
}

.details-label {
    margin-right: 10px;

    border: 1px solid gray;
    border-bottom: none;

    width: 100%;
    min-height: 30px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 1.1em;

    display: flex;
    align-items: center;
}

.details-label.last {
    border-bottom: 1px solid gray;
}

.details-input {
    border: 1px solid darkgray;
    border-radius: 5px;

    height: 30px;
    min-width: 300px;
    box-sizing:content-box;

    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    background: #F5F5F5;

    font-size: 1.1em;

    display: flex;
}

.details-input.empty {
    color: gray;
}

.details-row.button {
    margin-top: 20px;
}

.details-submit {
    border: 2px solid black;

    width: 100%;
    min-height: 40px;

    background: white;
    cursor: pointer;

    transition: background 0.5s ease;
}

.details-submit:hover {
    background-color: #FDD5B1;

    transition: background 0.5s ease;
}
