/**********
 * SELECT *
 **********/

 .-ui-select {
     position: relative;

     display: flex;
     justify-content: flex-start;
     align-items: center;

     cursor: pointer;
 }

 .-ui-select.empty {
     color: grey;
 }

 .-ui-select:focus {
     outline: none;
 }

 .-ui-select > img {
      margin-left: auto;

      padding-left: 20px;
  }

 .-ui-select > span {
     width: inherit;

     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;

     display: flex;
 }

 .-ui-select > ul {
     display: none;

     position: absolute;
     left: -1px;
     top: 38px;
     z-index: 99;

     border: 1px solid #ffb347;

     min-width: inherit;
     width: auto;
     height: auto;
     white-space: nowrap;

     /*display: flex;*/
     flex-direction: column;

     background: white;

     -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
     user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6);

 }

 .-ui-select li {
     position: relative;
     border-bottom: 1px solid lightgray;

     width: auto;
     height: 30px;

     padding-left: 10px;
     padding-right: 10px;

     display: flex;
     align-items: center;

     background: #F5F5F5;
     color: black;

     font-size: 0.95em;
 }

 .-ui-select li:last-of-type {
     border-bottom: none;
 }

 .-ui-select li:hover {
     background: rgba(252,234,187, 0.2);
 }

 .-ui-select li.selected {
     background: rgba(252,234,187, 0.8);
 }

 .-ui-select li > span {
     margin-left: auto;

     padding-left: 20px;

     color: grey;
 }

 /**********
  * TOGGLE *
  **********/

.-ui-toggle {
    padding: 0;

    display: flex;
    flex-direction: row;
}

.-ui-toggle > li {
    padding-left: 10px;
    padding-right: 10px;

    flex: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    //background: transparent;

    cursor: pointer;
}

.-ui-toggle > li:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.-ui-toggle > li:not(:last-of-type) {
    border-right: 1px solid darkgray;
}
.-ui-toggle > li:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.-ui-toggle-yes {
    background: rgba(139,226,139, 0.5);
}

.-ui-toggle-no {
    background: rgba(255,129,123, 0.5);
}

.-ui-toggle-unknown {
    background: rgba(186,186,186, 0.5);
}

/**********
 * SINCE *
 **********/

 .-ui-since {
     padding: 0;

     display: flex;
     flex-direction: row;
 }

 .-ui-since button {
     cursor: pointer;
 }

 .-ui-since > * > * {
     min-width: unset !important;

     padding-left: 10px;
     padding-right: 10px;

     background: transparent;

     display: flex;
     align-items: center;
     justify-content: center;
 }

 .-ui-since-result, .-ui-since-edit {
     display: flex;
     flex-direction: row;

     width: 100%;
 }

 .-ui-since-result > span {
     width: 100%;
     justify-content: flex-start;
 }

 .-ui-since-result > button {
     margin-left: auto;

     border-left: 1px solid darkgray;

     width: auto;

     background: url("../icons/button/date-edit.png") center no-repeat;
     background-size: contain;
 }

 .-ui-since-edit > input:not(:last-child) {
     border-right: 1px solid darkgray;
 }

 .-ui-since-edit > *:last-child {
     background: url("../icons/button/tick-black.png") center no-repeat;
     background-size: contain;
 }

 .-ui-since-edit > *:last-child:hover {

     background: url("../icons/button/tick-green.png") center no-repeat;
     background-size: contain;
 }

 /**
  * CHANGE & ONCE
  */

.ui_changed {
    border: 1px solid red;
}
